<bean id="phone3" class="com.soft1851.spring.ioc.entity.Phone" p:price="8889.0" p:brand="iphone X"/>
<bean id="phone4" class="com.soft1851.spring.ioc.entity.Phone" p:price="4889.0" p:brand="iphone xr"/>
<bean id="student" class="com.soft1851.spring.ioc.entity.Student">
<property name="id" value="1802343126"/>
<property name="name" value="zxl"/>
<property name="hobbies">
    <list>
        <value>看电影</value>
        <value>奶茶</value>
        <value>运动</value>
    </list>
</property>
<property name="phones">
    <set>
        <ref bean="phone3"/>
        <ref bean="phone4"/>
    </set>
</property>
<property name="phoneHeight">
    <map>
        <entry key-ref="phone3" value="1800px"/>
    </map>
</property>
</bean>
