<bean id="student" class="com.soft1851.spring.ioc.entity.Student">
    <property name="id" value="1802343126"/>
    <property name="name" value="zxl"/>
    <property name="hobbies">
        <list>
            <value>打游戏</value>
            <value>跑步</value>
            <value>打篮球</value>
        </list>
    </property>
    <property name="phones">
        <set>
            <ref bean="phone3"/>
            <ref bean="phone4"/>
        </set>
    </property>
    <property name="phoneHeight">
        <map>
            <entry key-ref="phone3" value="800px"/>
        </map>
    </property>
</bean>
